body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chatContainer {
  width: 100%;
}

#chat {
  width: 85%;
  height: 200px;
  background-color: #808080;
  display: inline-block;
  vertical-align: top;
  overflow: auto;
  overflow-y: auto;  
}

#users {
  width: 15%;
  height: 200px;
  background-color: #D4D0C8;
  display: inline-block;
  vertical-align: top;
  overflow: auto;
  overflow-y: auto;  
}

#chatInput {
	width: 100%;
}

.msg {
	width: 100%;
}

.nombre {
	width: 50px;
	display: inline-block;
	vertical-align: top;
}

.mensaje {
	width: auto;
	display: inline-block;
	vertical-align: top;
}